<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- meta for seo and sharing --}}
    <meta property="og:url" content="{{pageUrl}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{briefData.title}}" />
    <meta property="og:description" content="{{userData.footer_description}}" />
    <link rel="image_src" type="image/png" src="/images/complecities_logo.png" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <!-- font styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/comingsoon.css">
    <link rel="stylesheet" href="/css/general.css">
    <!-- favicon -->
    <link rel="icon" href="/images/complecities_short_logo.png">
    {{!-- page title --}}
    <title>Compleciities || Coming Soon!</title>
</head>

<body style="background-color: black;">

    <div class="center-content">

        <p class="h1 head-font custom-head-color"> Coming Soon! </p>
        <center>
            <h1 class="fas fa-pencil-ruler custom-head-color"></h1>
        </center>

    </div>

    <!-- javascript -->
    <script type="text/javascript" src="/js/clearconsole.js"></script>

</body>

</html>