/* full page style */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

/* body style */
body{
  background-color: white;
}

/* navbar css */
#navbar-container{
  width: 100%;
  min-width: 280px;
  border-bottom: 1px solid gray;
}

.navbar-brand{
  margin: 0 !important;
}

#complecities-logo{
  width: 100%;
  height: auto;
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  #complecities-logo{
  width: 100%;
  height: auto;
  max-width: 200px;
  }
}

/* brief stylings */
#brief-container{
  width: 60%;
  min-width: 280px;
}

@media only screen and (max-width: 600px) {
  #brief-container{
  width: 100%;
  min-width: 280px;
  }
}

.brief-content-container{
  display: flex;
}

#brief-title{
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  padding: 0vw 5vw 0vw 5vw;
  margin-bottom: 10px !important;
}

#brief-date{
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  padding: 0vw 5vw 0vw 5vw;
}
