/* full page style */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

/* body style */
body{
  background-color: white;
}

/* navbar css */
#navbar-container{
  width: 100%;
  min-width: 280px;
  border-bottom: 1px solid gray;
}

.navbar-brand{
  margin: 0 !important;
}

#complecities-logo{
  width: 100%;
  height: auto;
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  #complecities-logo{
  width: 100%;
  height: auto;
  max-width: 200px;
  }
}

/* brief stylings */
#brief-container{
  width: 60%;
  min-width: 280px;
}

@media only screen and (max-width: 600px) {
  #brief-container{
  width: 100%;
  min-width: 280px;
  }
}

.brief-content-container{
  display: flex;
}

/* brief title */
#brief-title{
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  padding: 0vw 5vw 0vw 5vw;
  margin-bottom: 10px !important;
}

/* brief date */
#brief-date{
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  padding: 0vw 5vw 2vw 5vw;
}

/* flexslider */
#brief-flexslider{
  padding: 0vw 5vw 0vw 5vw;
}

.flex-direction-nav a:before{
  line-height: 1;
}

@media only screen and (max-width: 600px) {
.flex-direction-nav a:before{
  visibility: hidden;
}
}

.flexslider-video{
  width: 99%;
}

.flex-caption {
  width: 99%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

/* brief para */
#brief-para{
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  padding: 0vw 5vw 2vw 5vw;
  text-align: justify;
}

/* section end hr */
#section-end-hr{
  padding: 0vw 5vw 0vw 5vw;
}

/* share brief */
#share-brief{
  padding: 0vw 5vw 0vw 5vw;
}

/* share icons */
.share-icons{
  font-size: 25px;
}

.share-icons-li{
  margin-left: 3%;
}

#icon-linkedin :hover{
  color: #0077b5;
  font-size: 30px;
  transition: 0.3s;
}

#icon-twitter :hover{
  color: #1DA1F2;
  font-size: 30px;
  transition: 0.3s;
}

#icon-facebook :hover{
  color: #4267B2;
  font-size: 30px;
  transition: 0.3s;
}

#icon-copy-link :hover{
  color: #8a3ab9;
  font-size: 30px;
  transition: 0.3s;
}

#icon-mindmap :hover{
  color: #f2aeb1;
}

.icons-link{
  color: #000;
  text-decoration: none !important;
}